body {
    background-color: #e6e6ff ;
}

#main {
    /*text-align: center;*/
    background-color: white;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}
footer{
    text-align: center;
}
