body {
    background-color: #f4f6ff ;
}

#main {
    /*text-align: center;*/
    background-color: white;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border-radius: 5px;
}
#uploadImageDisplayArea{
	text-align: center;
}

#processedImageDisplayArea{
	text-align: center;
}
#contentUpload{
	padding: 5px;
	border: solid 3px #ececec;
	border-radius: 5px;
	overflow: hidden;
}

#contentLeftSide{
	float: left;
}

#contentRightSide{
	float: right;
}

#contentUpload input[type="text"]{
	padding: 0px;
	margin: 3px;
	border: solid 3px #c9c9c9;
	transition: border 0.3s;
}
#contentUpload input[type="text"]:focus, #contentUpload input[type="text"].focus{
	padding: 0px;
	margin: 3px;
	border: solid 3px #969696;
}

footer{
    text-align: center;
}

.imgScale {
    width: 700px;
}
.imgScaleMax {
	max-width: 700px;
}

.imgInput{
	display: none;
}

#myCanvas{
	display: none;
}